html {
    font-size: 15px;
}

a
{
    color: red;
}

#Link1
{
    color: whitesmoke;
}

.container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#FirstImage
{
    width: 300px;
    display: inline-block;
    margin-right: auto;
    margin-left: 0;
}

#SecondImage
{
    width: 300px;
    display: inline-block;
    margin-right: 0;
    margin-left: auto;
}

#ThirdImage
{
    width: 1000px;
    display: block;
    margin: auto;
}

a:hover, a:active
{
    color: blue;
}

button
{
    padding: 8px;
    background-color: grey;
}

#FourthImage
{
    display: block;
    left: 0;
    margin-left: 0;
    margin-right: auto;
    width: 300px;
}

hr
{
    border: solid;
}

button
{
    background-color: rgb(rgb(228, 2, 2), rgb(103, 214, 103), rgb(116, 116, 171));
    color: white;
    padding: 10px 20px;
    border: solid color(srgb 0 255 255);
    transition: 0.3s;
}

button:hover
{
    background: darkblue;
    cursor: pointer;
    transform: scale(1.1);
}

#demo1
{
    user-select: none;
}